SERVER_HOST=127.0.0.1
SERVER_PORT=3000

DATABASE_URL=postgres://postgres:postgres@localhost:5432/pds

S3_ENDPOINT=http://objsto:9000
AWS_REGION=us-east-1
S3_BUCKET=pds-blobs
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin

# The public-facing hostname of the PDS
PDS_HOSTNAME=localhost:3000
PLC_URL=plc.directory

CARGO_MOMMYS_LITTLE=mister
CARGO_MOMMYS_PRONOUNS=his
CARGO_MOMMYS_ROLES=daddy
CARGO_MOMMYS_EMOTES="🚛/🧱/🚜/🔩/🦺"
CARGO_MOMMYS_MOODS=ominous
