[Unit]
Description=BSPDS postgres database

[Container]
ContainerName=bspds-db
Image=docker.io/library/postgres:18-alpine
Pod=bspds.pod
Environment=POSTGRES_USER=bspds
Environment=POSTGRES_DB=pds
Secret=bspds-db-password,type=env,target=POSTGRES_PASSWORD
Volume=/srv/bspds/postgres:/var/lib/postgresql/data:Z
HealthCmd=pg_isready -U bspds -d pds
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
HealthStartPeriod=10s

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
